body{
font-family:Arial;
margin:0;
color:white;
background:linear-gradient(135deg,#a259ff,#ff6ac1);
}

header{
text-align:center;
padding:30px;
font-size:40px;
font-weight:bold;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.card{
background:rgba(0,0,0,0.25);
padding:20px;
margin-bottom:20px;
border-radius:12px;
}

.player{
border-bottom:1px solid rgba(255,255,255,0.2);
padding:4px;
}
